@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Markazi+Text:wght@600&family=Ubuntu:ital,wght@1,300&display=swap');

/* CSS reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* Navigation bar */
#navbar{
    display: flex;
    /* position: relative; */
    position: sticky;
    top: 0;
    /* justify-content: center; */
    align-items: center;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

/* Logo and image */

/* List styling */

#logo{
    margin: 10px 35px;
    height: 5vh;
}

#logo img{
    height: 40px;
    margin: 3px 6px;
}


#navbar ul{
    display: flex;
}

#navbar ul li{
    /* background-color: ; */
    /* display: inline; */
    font-size: 1.3rem;
    list-style: none;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    height: 570px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url(../spaghetti-1932466_1920.jpg) no-repeat center center/cover;
    top: 0;
    left: 0;
    height: 82%;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services section */
#services{
    display: flex;
    margin: 34px;
}
#services .box{
    border: 2px solid red;
    padding: 35px;
    margin: 20px 40px;
    border-radius: 25px;
    background-color: rgb(248, 238, 238);
}
#services .box img{
    height: 150px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
/* Clients Section : */

#clientSection{
    position: relative;
}
#clientSection::before{
    content: "";
    position: absolute;
    background: url(../meal-2834549_1920.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    /* border: 2px solid red;
    border-radius: 20px; */
    padding: 35px;
}

#clients img{
    height: 150px;
}

/* Contact Section : */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7px;
    background: url(../telephone-586266_1920.jpg) no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

#contact-box textarea,
#contact-box input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 50%;
}
#contact-box label{
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
}

footer{
    background-color: black;
    color: white;
    font-family: 'Bree Serif', serif;
    padding: 10px 20px;
}
/* Utility classes : */
.primary{
    font-size: 3.8rem;
    padding: 12px
}
.secondary{
    font-size: 2.3rem;
    padding: 12px
}
.btn{
    padding: 6px 22px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: red;
    color: white;
    margin: 17px;
    cursor: pointer;
}

.center{
    text-align: center;
}